@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400;700&display=swap');

:root {
    --primary-color: black;
    --off-white: #E5E7EB;
}
body {
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    background-color:#f8f554 ;
}
#txt-input {
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    padding: 1rem;
    display: block;
    text-align: center;

}

#btn-translate {
    border: 1px solid black;
    margin: 1rem;
    background-color: black;
    color: white;
    
}

#output {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
    height: 10vh;
    background-color: white;
    text-align: center;
}
/* Header */

.hero {
    padding: 2rem;
    background-color: black;    ;
    border: 1rem;
    width: 100%;
    margin: 1rem;
}

/* .hero .hero-img {
    max-width: 350px;
    margin: auto;
    display: block;
} */

.hero .hero-txt {
    padding-top: 1rem;
    color: yellow;
    text-align: center;
}
.output-text {
    font-size:larger;
    text-align: center;

}
