@import url('https://fonts.googleapis.com/css2?family=Indie+Flower:wght@400;700&display=swap');

:root {
    --primary-color: black;
    --off-white: #E5E7EB;
    --yellow: hsl(48, 85%, 68%);
}
body {
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    background-color:var(--yellow) ;
    text-align: center;
}
#txt-input {
    display: block;
    border: 2px solid black;
    width: 60%;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

#btn-translate {
    display: block;
    margin: auto;
    background-color: var(--primary-color);
    color: var(--yellow);
    padding: .5rem;
    border: 2px solid var(--font-color);
    border-radius: .25rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

#output {
    border: 1px solid black;
    margin: auto;
    padding: 1rem;
    width: 60%;
    height: 5vh;
    background-color: white;
    text-align: center;
}
/* Header */

.hero {
    padding: 2rem;
    background-color: black;    ;
    margin: auto;
}


.hero .hero-txt {
    padding-top: 1rem;
    color: var(--yellow);

}
.output-text {
    font-size:larger;
    font-weight: bold;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    padding: 1rem;
    color: white;
}
 .footer .footer-header {
    font-weight: bold;
    font-size: large;
    color:var(--yellow);
    padding: 1rem;
 }

